*{
  margin: 0;
  padding: 0;
}

.nav{
  margin: auto;
  width: 94%;
  display: flex;
  flex-direction: column;
}

.upper{
  padding: 10px 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper img{
  width: 14%;
}

.icons{
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons img{
  width: 26px;
}


ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

ul li{
  cursor: pointer;
  padding: 10px 0;
  font-weight: 800;
}

.container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #search{
  cursor: pointer;
  margin-left: 15px;
  padding: 12px 25px;
  background-color: #4C8787;
  color: white;
  font-weight: 800;
  font-family: 'roboto';
  letter-spacing: 1.2px;
  border: none;
}

.searchBar{
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding: 0 15px;
  width: 25%;
  height: 40px;
  border: 2px solid black;
  border-radius: 50px;
}

.textField{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textField input{
  width: 90%;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  background-color: transparent;
}

.textField input:focus{
  outline: none;
}

.banner{
  display: flex;
  justify-content: space-evenly;
}

.iconText{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.iconText img{
  padding: 0 15px;
  width: 20px;
}

.main{
  margin-top: 50px;
  background-color: rgba(218, 163, 25, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img{
  width: 50%;
}

.content h1{
  width: 80%;
  padding: 40px 0;
  text-align: center;
  color: #A86A3D;
  font-size: 2.7vw;
}

.view{
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4C8787;
  border: 2px solid white;
  color: white;
  font-family: 'roboto';
  box-shadow: 0 3px 5px black;
}
