*{
    margin: 0;
    padding: 0;
}

.containerProduct{
    margin: auto;
    width: 85%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}


.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    margin: 50px 0;
}

.left img{
    width: 48%;
    height: 70vh;
    padding-bottom: 20px;
}

.left img:last-child{
    width: 100%;
    object-fit: fill;
}

.right{
    width: 30%;
    margin: 50px 0;
}