* {
    margin: 0;
    padding: 0;
}

.containerProduct {
    margin: auto;
    width: 85%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}


.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
    margin: 50px 0;
}

.left img {
    outline: 1px solid black;
    width: 48%;
    height: 70vh;
    /* padding-bottom: 20px; */
    margin: 10px 0;
}

.left img:last-child {
    width: 100%;
    object-fit: fill;
}

.right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 50px 0;
}

.right h3 {
    padding: 15px 0;
}

.right h4 {
    padding: 15px 0;
    font-weight: 300;
}


.right img {
    width: 60px;
    outline: 1px solid black;
}

.right span img {
    width: 15px;
    outline: none;
}

.right span {
    font-weight: 500;
    color: grey;
    padding: 20px 0;
}

.right select {
    outline: 1px solid black;
    background-color: #F3F6FF;
    padding: 15px 5px;
    font-weight: 400;
    font-size: 15px;
}

.right #addToCart {
    margin: 30px 0 0 0;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #4C8787;
    color: white;
    font-size: 1rem;
    border: none;
    box-shadow: 0 5px 5px grey;
    font-family: 'roboto';
}


.detailsContainer {
    background-color: #F0C55F;
    width: 45%;
    padding: 50px 70px;
    margin: 60px 0 0 100px;
}

.detailsContainer h4 {
    padding: 10px 0;
    font-weight: 300;
}

.detailsContainer #composition {
    padding: 0;
    margin: 10px 0 5px 0;
}

#headingYMAL {
    padding: 0 100px;
    margin: 50px 0;
}